@media all and (min-width: 1150px){
	
}

@media all and (min-width: 768px) and (max-width: 1150px){
	body{ margin: 0 0; }
	p{ font-size: 1em; }

	.main_header{ margin: 0 0; }
	.main_nav{ display: none; }

	.main_section{
		.main_items{
			.page{

				padding: 15px 0;

				.page_content{
					.countdown{ 
						margin: 0 5% 0 0; 
						span{ width: 100%; }
						.words{ padding: 0 5px 10px; }
						.date{ font-size: 0.95em; }
					}
					.countdown + p{ width: 75%; }
					h4{ font-size: 1.25em; }
				}
				.post-list{
					.page_posts{
						width: 100%;
						float: none; 

						&:nth-child(1n){ float: none; }
						&:nth-child(2n){ float: none; }
					}
				}
			}
		}
	}

	.main_footer{ height: 320px; }
	.page-break{ display: none; }
}

@media all and (min-width: 320px) and (max-width: 767px){
	body{ margin: 0 0; }
	p{ font-size: 0.8em; }

	.main_header{
		margin: 0 0;
		.title{ font-size: 2.15em; }
		.bloginfo{ font-size: 1em; }
	}
	.main_nav{ display: none; }

	.main_section{
		.main_items{
			.page{

				padding: 15px 0;

				.page_header{ h2{ font-size: 1.75em; } }

				.page_content{

					ul{ li{ font-size: 0.8em; } }
					.countdown{ 
						width: 100%; 
						float: none; 

						span{ width: 60%; margin: 0 auto; display: block; text-align: center; }
						.number{ font-size: 3em; }
					}
					.countdown + p{ width: 100%; padding: 20px 0; float: none; }
				}
				.post-list{
					.page_posts{

						width: 90%;
						height: 150px;

						.post_content{ display: none; }
						.post_address{ width: 100%; padding: 0; float: none; font-size: 1em; }

						&:nth-child(1n){ float: none; }
						&:nth-child(2n){ float: none; }
					}
				}
			}
		}
	}

	.main_footer{ display: none; }
	.page-break{ display: none; }
}