body {
  margin: 0 0 0;
  font-family: "ComfortaaThin", sans-serif;
  background: #666; }

h1, h2, h3, h4, h5 {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  font-family: "ComfortaaRegular", sans-serif;
  color: #ffe545;
  display: inline-block;
  font-weight: normal;
  clear: both; }
  h1 a, h2 a, h3 a, h4 a, h5 a {
    color: inherit;
    text-decoration: none; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
      color: #EEE; }

p {
  margin: 0;
  padding: 0 0 25px;
  color: #EEE;
  line-height: 1.25em;
  font-size: 1em; }

.main_header {
  padding: 50px 10%; }
  .main_header .title {
    padding: 50px 0 0;
    font-size: 4em;
    text-align: center;
    text-shadow: 0 1px 1px #333333; }
    .main_header .title a:hover {
      color: #FFF; }
  .main_header .bloginfo {
    padding: 0 0 50px;
    font-size: 2em;
    color: #EEE;
    text-align: center;
    font-family: "ComfortaaThin", sans-serif;
    text-shadow: 0 1px 1px #333333; }

.main_nav {
  width: 80%;
  height: 50px;
  top: 0;
  left: 0;
  padding: 0 10%;
  background: #ffe545;
  border-bottom: 1px solid #555555;
  z-index: 9999;
  position: fixed; }
  .main_nav .menu-mainmenu-container .menu {
    height: 50px;
    margin: 0 0;
    padding: 0 0;
    list-style: none; }
    .main_nav .menu-mainmenu-container .menu .menu-item {
      width: 16.6%;
      float: left; }
      .main_nav .menu-mainmenu-container .menu .menu-item a {
        padding: 16px 15px;
        font-size: 1em;
        font-family: "ComfortaaRegular", sans-serif;
        color: #666;
        text-align: center;
        text-decoration: none;
        display: block; }
        .main_nav .menu-mainmenu-container .menu .menu-item a:hover {
          background: #FEFBAF;
          color: #333; }

.main_section {
  padding: 0 10%; }
  .main_section .main_items .page {
    padding: 25px 0; }
    .main_section .main_items .page .page_header h2 {
      font-size: 2em;
      text-align: center;
      margin: 0 0 10px;
      padding: 0 0 10px;
      border-bottom: 1px solid #ffe545; }
    .main_section .main_items .page .page_content {
      padding: 10px 0 20px;
      font-size: 1.25em;
      overflow: hidden; }
      .main_section .main_items .page .page_content strong {
        font-family: "ComfortaaRegular", sans-serif;
        color: #ffe545; }
      .main_section .main_items .page .page_content .countdown {
        width: 20%;
        margin: 0 0 20px;
        text-align: center;
        float: left;
        display: block; }
        .main_section .main_items .page .page_content .countdown span {
          margin: 0;
          padding: 0; }
        .main_section .main_items .page .page_content .countdown .number {
          font-size: 5em;
          font-family: "ComfortaaRegular", sans-serif;
          line-height: 1em;
          color: #ffe545; }
        .main_section .main_items .page .page_content .countdown .words {
          padding: 0 16px 10px;
          font-size: 1.1em;
          color: #ffe545;
          font-family: "ComfortaaThin", sans-serif;
          display: inline-block;
          border-bottom: 1px solid #555555; }
        .main_section .main_items .page .page_content .countdown .date {
          padding: 10px 5px 0;
          font-size: 1.25em;
          color: #FFF;
          display: inline-block;
          border-top: 1px solid #777777; }
      .main_section .main_items .page .page_content .countdown + p {
        width: 80%;
        float: left; }
      .main_section .main_items .page .page_content .align-boxes {
        width: 45%;
        padding: 25px 0;
        float: left; }
        .main_section .main_items .page .page_content .align-boxes:last-child {
          float: right; }
      .main_section .main_items .page .page_content ul li, .main_section .main_items .page .page_content ol li {
        padding: 0 0 5px;
        color: #ffe545; }
        .main_section .main_items .page .page_content ul li span, .main_section .main_items .page .page_content ol li span {
          color: #EEE; }
      .main_section .main_items .page .page_content ol li {
        padding: 0 0 10px; }
      .main_section .main_items .page .page_content .our-address {
        width: 40%;
        float: left; }
        .main_section .main_items .page .page_content .our-address p a {
          width: 340px;
          font-size: 1.75em;
          line-height: 1.25em;
          color: #FFF;
          text-decoration: none;
          display: block;
          word-break: break-word; }
          .main_section .main_items .page .page_content .our-address p a:hover {
            text-decoration: underline; }
        .main_section .main_items .page .page_content .our-address p span {
          font-size: 1.75em;
          line-height: 1.25em;
          display: block; }
        .main_section .main_items .page .page_content .our-address p br {
          display: none; }
      .main_section .main_items .page .page_content .telephones {
        width: 40%;
        float: left; }
        .main_section .main_items .page .page_content .telephones h2 {
          padding: 0 0 0 55px;
          font-size: 3em; }
          .main_section .main_items .page .page_content .telephones h2 span {
            color: #EEE;
            font-size: 1.5em;
            line-height: 3em; }
        .main_section .main_items .page .page_content .telephones .home {
          background: url("../images/home.png") 0 50% no-repeat;
          background-size: 40px; }
        .main_section .main_items .page .page_content .telephones .mobile {
          background: url("../images/mobile.png") 0 50% no-repeat;
          background-size: 40px; }
    .main_section .main_items .page #post10 {
      background: #555555 url("../images/barcelo.png") 0 0 no-repeat; }
      .main_section .main_items .page #post10 .post_header {
        background: url("../images/corner_start.png") 100% 0 no-repeat; }
    .main_section .main_items .page #post14 {
      background: #555555 url("../images/premierinn.png") 0 0 no-repeat; }
    .main_section .main_items .page #post12 {
      background: #555555 url("../images/holidayinn.png") 0 0 no-repeat; }
    .main_section .main_items .page #post16 {
      background: #555555 url("../images/heartofengland.png") 0 0 no-repeat; }
    .main_section .main_items .page .post-list {
      margin: 0 0;
      padding: 0;
      list-style: none;
      overflow: hidden; }
      .main_section .main_items .page .post-list .page_posts {
        width: 32%;
        min-height: 185px;
        padding: 0 0 10px 180px;
        margin: 0 0 25px;
        display: block;
        position: relative;
        background: #555;
        border: 1px solid #777777; }
        .main_section .main_items .page .post-list .page_posts .post_header {
          padding: 20px 0 0 0; }
          .main_section .main_items .page .post-list .page_posts .post_header h3 {
            font-size: 1.25em;
            color: #FFF;
            font-family: "ComfortaaThin", sans-serif; }
          .main_section .main_items .page .post-list .page_posts .post_header .price_block {
            margin: 0 0 10px; }
          .main_section .main_items .page .post-list .page_posts .post_header .price {
            font-family: "ComfortaaRegular", sans-serif;
            font-size: 1.5em;
            color: #ffe545; }
            .main_section .main_items .page .post-list .page_posts .post_header .price:before {
              content: '£'; }
          .main_section .main_items .page .post-list .page_posts .post_header .sub_price {
            font-size: 1em;
            color: #ffe545; }
        .main_section .main_items .page .post-list .page_posts .post_content {
          width: 100%; }
          .main_section .main_items .page .post-list .page_posts .post_content p {
            padding: 0 0;
            color: #CCC;
            font-size: 1em;
            line-height: 1em; }
        .main_section .main_items .page .post-list .page_posts .post_address {
          width: 100%;
          padding: 10px 0 0;
          border-left: 1px solid #555555;
          color: #FFF;
          font-size: 1.15em; }
          .main_section .main_items .page .post-list .page_posts .post_address span {
            display: block; }
          .main_section .main_items .page .post-list .page_posts .post_address p {
            padding: 0 0; }
        .main_section .main_items .page .post-list .page_posts:nth-child(1n) {
          margin-left: 0px;
          float: left; }
        .main_section .main_items .page .post-list .page_posts:nth-child(2n) {
          margin-right: 0px;
          float: right; }

.main_footer {
  width: 100%;
  height: 500px;
  margin: 25px 0 0;
  border-top: 1px solid #333333;
  background: url("../images/savingme.jpg") 0 0 no-repeat;
  background-size: 100%;
  box-shadow: inset 0 2px 10px black;
  display: block;
  opacity: 0.85; }

.page-break {
  width: 100%;
  height: 34px;
  margin: 0 0 25px;
  display: block;
  background: url("../images/heart.png") 50% 100% no-repeat;
  background-size: 44px; }
